<div fxLayout="column wrap" style="padding-top:100px" class="full-width full-height" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="column wrap" class="forgot-password form-half" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" (click)="goBack()">
      <div fxLayout="row wrap" style="padding-top:30px" fxLayoutAlign="center center" [fxShow]="true" routerLink="/home/landing"><img imgSrc="/capetic/icons/capitec-logo.svg"></div><mat-icon (click)="goBack()"><span class="material-symbols-outlined"> chevron_left </span></mat-icon>
    </div>
    <div fxLayout="column wrap" style="padding:10px" fxLayoutAlign="center center" [fxShow]="true">
      <form #newPassword="ngForm">
        <div fxLayout="column wrap" class="half-width" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <div fxLayout="column wrap" class="input-container" fxLayoutAlign="start stretch" [fxShow]="true"><label style="padding-bottom:10px">
                New Password</label>
              <mat-form-field style="padding-left:0px;" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                <input matInput [(ngModel)]="page.userDetails.password" name="newPassword" type="password" placeholder="New Password" [required]="true">

              </mat-form-field>
            </div>
            <div fxLayout="column wrap" class="input-container" fxLayoutAlign="start stretch" [fxShow]="true"><label style="padding-bottom:10px">
                Confirm Password</label>
              <mat-form-field style="padding-left:0px;    " [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                <input matInput [(ngModel)]="page.ConfirmPassword" name="confirmPassword" type="password" placeholder="Confirm Password" [required]="true">

              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-raised-button style="color:white;     width: 350px;" class="bg-primary" (click)="newPasswordCall(newPassword)">Create New Password</button></div>
        </div>
      </form>
    </div>
  </div>
</div>